/* Testimonials Area css
============================================================================================ */
.testimonials_area{
	background: #f9f9ff;

	.owl-dots {
		text-align: center;
		margin-top: 80px;
	}
	.owl-dots .owl-dot {
		height: 12px;
		width: 12px;
		border-radius: 6px;
		background: #ccc;
		display: inline-block;
		margin-right: 7px;
	}
	.owl-dots .owl-dot:last-child {
		margin-right: 0px;
	}

	.owl-dots .owl-dot.active {
		background: #8490ff;
	}
}

.testi_inner{
	.col-lg-3{
		vertical-align: middle;
		align-self: center;
	}
}
.test_title{
	h2{
		color: $dip;
		font-size: 36px;
		font-family: $rob;
		font-weight: bold;
		margin-bottom: 12px;
	}
	p{
		margin-bottom: 0px;
	}
}

.testi_item{
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background: #fff;
	padding: 40px 28px;
	height: 400px;
	p{
		font-style: italic;
		height: 240px;
	}
	h4{
		color: $dip;
		font-size: 20px;
		text-transform: uppercase;
	}
	a{
		color: #ffc000;
	}
}
/* End Testimonials Area css
============================================================================================ */